<h1>Burger!</h1>

<h2>Burger that are not snew!</h2>

<ul>
  {{#each burgers}}
    {{#unless new}}
      {{> burgers/burger-block new=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burger that are new!</h2>

<ul>
  {{#each burgers}}
    {{#if new}}
      {{> burgers/burger-block new=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="new">New?</label><br>
    <input type="radio" name="new" value="1" checked> New!<br>
    <input type="radio" name="new" value="0"> New
  </div>

  <button type="submit">Add Burger</button>
</form>
